#piano {
    display: flex;
  }
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background-color: royalblue;
    color: black;
  }

  p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-style: italic;
    font-size: 1.1em;   
    font-weight: bold;
    color: black;
  }

  span {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white;
  }
  

  #piano .white {
    height: 200px;
    width: 50px;
    background-color: darkblue;
    border: 3px solid black;
    border-radius: 10px;
    margin: 2px;
    
    
    
  }
  
  #piano .white.active {
    background-color: cornflowerblue;
  }

  h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.3em;
    font-weight: 2000;
    text-decoration: underline;
    color: black;
  }
  
select {
   display: block;
  margin: 0 auto;
  font-size: 1.2em;
  font-family:fantasy;
  background-color: lightskyblue;

}
  